<div id="sign_up_form">
	<input type="email" class="entering_row" name="user[email]" id="new_email" placeholder="이메일"/>
	<input type="text" class="entering_row" name="user[name]" id="new_name" placeholder="닉네임"/>
	<div id="gender_row" class="entering_row">
		<div class="col-md-4 gender"><button class="gender_btn entering_btn" id="male">남</button></div>
		<div class="col-md-4 gender"><button class="gender_btn entering_btn" id="female">여</button></div>
		<div class="col-md-4 gender"><button class="gender_btn entering_btn" id="sex_none">말하지 않아요</button></div>
	</div>
	<input type="password" class="entering_row" name="user[password]" id="new_pw" placeholder="비밀번호"/>
	<input type="password" class="entering_row" name="user[password_confirmation]" id="new_pwc" placeholder="비밀번호 확인"/>
	<div id="terms" class="entering_row">
		<input type="checkbox" name="term_agree" id="term_agree" />
		<label for="term_agree">이용약관, 개인정보 활용방침에 동의</label>
	</div>
	<button class="entering_btn" id="sign_up_btn"/>가입하기</button>
</div>

