<form id="login_form">
	<input type="email" name="user[email]" id="user_email"/>
	<input type="password" name="user[password]" id="user_password"/>
	<div id="login_option_bar">
		<input type="checkbox"/> 로그인 유지
		<a href="/find_password" id="find_password">비밀번호 찾기</a>
	</div>
	<input type="submit" id="sign_in" value="로그인"/>
	<a href="sign_up" id="sign_up">가입하기</a>
	<div id="slice_bar">
	<hr/><span>1초만에 가입하기</span><hr/>
	</div>
	<div id="one_second">
		<a href="#" id="facebook"><img src="./image/facebook-logo.png"/></a>
		<a href="#" id="twitter"><img src="./image/twitter.png"/></a>	
	</div>
</form>
