<div id="music_carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<!--carousel 목록-->
		<%= render '/main/component/carousel_list'%>
		
		<!--carousel 화살표-->
		<a class="left carousel-control" href="#music_carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</a>
		<a class="right carousel-control" href="#music_carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</a>
</div>