<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img src="./image/item1.jpg" class="list_img" alt="item1"/>
    <div class="carousel-caption">
    	<div id="caption_img"><img src="./image/item1.jpg" alt="item1"/></div>
    	<div id="caption_info">
    		<div id="caption_rank"><h1>1위</h1></div>
    		<div id="caption_detail">
    			<h1>휘파람</h1>
    			<h3>blackpink</h3>
    			<h4>8920명의 리스트에 라인업</h4>
    			<h2>번호 455010 <span><em>Line<br/>up!</em></span></h2>
    		</div>
    	</div>	
    </div>
  </div>
  <!--
  <div class="item">
    <img src="./image/item2.jpg" alt="item2"/>
    <div class="carousel-caption">
    	<div id="album_img"><img src="./image/item2.jpg" alt="item2"/></div>
    	<div id="song_info">IOI</div>	
    </div>
  </div>
  
  <div class="item">
    <img src="./image/item3.jpg" alt="item3"/>
    <div class="carousel-caption">
    	<div id="album_img"><img src="./image/item3.jpg" alt="item3"/></div>
    	<div id="song_info">여자친구</div>	
    </div>
  </div>
  
  <div class="item">
    <img src="./image/item4.jpg" alt="item4"/>
    <div class="carousel-caption">
    	<div id="album_img"><img src="./image/item4.jpg" alt="item4"/></div>
    	<div id="song_info">원더걸스</div>	
    </div>
  </div>
  -->
</div>
