<div class="carousel-inner" role="listbox">
  <!--
  <div class="item active">
    <img src="./image/item1.jpg" class="list_img"/>
    <div class="carousel-caption">
    	<div id="caption_img"><img src="./image/item1.jpg"/></div>
    	<div id="caption_info">
    		<div id="caption_rank"><h1>1위</h1></div>
    		<div id="caption_detail">
    			<h1>휘파람</h1>
    			<h3>blackpink</h3>
    			<h4>8920명의 리스트에 라인업</h4>
    			<h2>번호 455010 <span><em>Line<br/>up!</em></span></h2>
    		</div>
    	</div>	
    </div>
  </div>-->
</div>
