<div id="middle_tab">
	<ul id="tab_menu">
		<li id="hot_song">
			<p>노래방 인기차트</p>
			<p class="select_button"></p>
		</li>
		<li id="new_song" >
			<p>이달의 신곡</p>
			<p class="select_button"></p>
		</li>
		<li id="filter_song" >
			<p>조건 검색</p>
			<p class="select_button"></p>
		</li>
	</ul>
</div>
