<div id="nav_bar">
	<h1 id="nav_logo">고래방</h1>
	<form action="main/search" id="nav_search">
		<input type="text" placeholder="노래 찾기" />
	</form>
	<ul id="nav_menu">
		<li><a href="#">평가하기</a></li>
		<li><a href="/recommend/index">추천받기</a></li>
		<li><a href="/mylist/index">user</a></li>
	</ul>
</div>
