<div class="modal fade" id="song_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">노래방 번호</h4>
        </div>
        <div class="modal-body">
          <div class="image_wrapper">
          	<div class="album_img"><img src="./image/item3.jpg"/></div>
          	<div class="album_info">
          		<div class="album_circle"><img src="./image/item3.jpg"/></div>
          		<h1>너 그리고 나</h1>
          		<h4>여자친구</h4>
          		<hr/>
          		<p>여자친구 The 1st Album 'LOL'</p>
          	</div>
          </div>
          <div class="modal_cards">
	          <!-- left-->
	          <div class="col-md-7">
	          	<div class="col-md-12 modal_card" id="mv_card">
	          		<div class="card_head">뮤직비디오</div>
	          		<div class="card_body"></div>
	          	</div>
	          	<div class="col-md-12" id="album_detail">
	          		<div class="col-md-6" id="album_card_wrapper">
		          		<div class="modal_card" id="album_card">
		          			<div class="card_head">앨범</div>
		          			<div class="card_body"></div>
		          		</div>
	          		</div>
	          		<div class="col-md-6" id="album_song_card_wrapper">
		          		<div class="modal_card" id="album_songs_card">
		          			<div class="card_head">수록곡</div>
		          			<div class="card_body"></div>
		          		</div>
	          		</div>
	          	</div>
	          	<div class="col-md-12 modal_card" id="comment_card">
	          		<div class="card_head">코멘트</div>
	          		<div class="card_body"></div>
	          	</div>
	          </div>
	          <!--right-->
	          <div class="col-md-5 modal_card" id="lyrics_card">
	          	<div class="card_head">가사</div>
	          	<div class="card_body"></div>
	          	
	          </div>
	      </div>
        </div>
      </div>
    </div>
</div>