<div class="modal fade" id="song_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">노래방 번호</h4>
        </div>
        <div class="modal-body">
          <div class="image_wrapper">
          	<div class="album_img"><img src="./image/item3.jpg"/></div>
          	<div class="album_info">
          		<div class="album_circle"><img src="./image/item3.jpg"/></div>
          		<h1>너 그리고 나</h1>
          		<h4>여자친구</h4>
          		<hr/>
          		<p>여자친구 The 1st Album 'LOL'</p>
          	</div>
          </div>
          <div class="vocal range">
          	
          </div>
          
        </div>
      </div>
    </div>
</div>