<div class="song_card">
	<div class="song_card_1st_layer">
		<div class="song_info">
			<p>여자친구</p>
			<p>너 그리고 나</p>
		</div>
	</div>
	<div class="song_card_2nd_layer">
		<div class="edge"></div>
		<a class="card_like" href="#"></a>
		<a class="card_hide" href="#"></a>
	</div>
</div>
