$entering_container_width : 400px;
$entering_container_height : 600px;
$entering_top_margin : 100px;

$entering_logo_width : 100%;
$entering_logo_height : 200px;

$entering_box_width : 100%;
$entering_box_height : 400px;
$entering_box_color : rgba(255,255,255,0.5);
$entering_box_radius : 10px;
$entering_box_padding : 20px;

$entering_row_height: 40px;
$entering_row_margin: 15px;

$entering_btn_padding : 10px;
$entering_btn_height : $entering_row_height;

$placeholder_color : #262626;

$sns_login_width:170px;