<div class="content_box" id="filter_song_content">
	<div class="tab_title_box">
		<hr class="title_line">
		<div class="tab_title">조 건 검 색</div>
		<hr class="title_line">
	</div>
	
	
	<div class="selector_row" id="country">	
		<div class="select_contain col-md-3">
			<select class="filter_select" id="country">
				<option value="korea">한국</option>
				<option value="usa">미국</option>
				<option value="japan">일본</option>
				<option value="china">중국</option>
			</select>
		</div>
		
		<div class="select_contain col-md-3">
			<select class="filter_select" id="genre">
				<option value="ballad">발라드</option>
				<option value="hiphop">힙합</option>
				<option value="trot">트로트</option>
				<option value="rock">락</option>
			</select>
		</div>
		
		<div class="select_contain col-md-3">
			<select class="filter_select" id="year">
				<option value="1980">1980</option>
				<option value="1990">1990</option>
				<option value="2000">2000</option>
				<option value="2010">2010</option>
			</select>
		</div>
		
		<div class="select_contain col-md-3">
			<select class="filter_select" id="gender">
				<option value="male">남</option>
				<option value="female">여</option>
			</select>
		</div>
	</div>	
</div>