<div class="content_box" id="hot_song_content">
	<div class="tab_title_box">
		<hr class="title_line">
		<div class="tab_title">노래방 인기차트</div>
		<hr class="title_line">
	</div>
	
	<div class="live_row">
		<div class="live_rank">
		
		</div>
		<div class="live_chart">
		
		</div>
	</div>
	
	<div class="card_box">
		<%=render '/main/component/song_card' %>
	</div>
</div>