<div class="content_box" id="new_song_content">
	<div class="tab_title_box">
		<hr class="title_line">
		<div class="tab_title">이달의 신곡</div>
		<hr class="title_line">
	</div>
	<div class="button_row">
			<div class="new_song_btn active_btn" id="tj_btn">
				<h6>TJ</h6>
				<p>8월의 신곡</p>	
			</div>
			<div class="new_song_btn inactive_btn" id="gy_btn">
				<h6>금영</h6>
				<p>8월의 신곡</p>
			</div>
	</div>
	<div class="card_box">
		<%=render '/main/component/song_card' %>
	</div>
</div>